@media only screen and (max-width: 768px) {
  .section-2 .team {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .section-2 .card {
    width: 18rem;
  }

  /* .dropdown-content {
    margin-right: 170vmin;
  } */
}

@media only screen and (min-width: 1024px) {
  .section-2 .card {
    width: 13rem;
  }
  .dropdown-content {
    margin-right: 0vmin;
  }
}
/* @media only screen and (min-width: 768px) {
  .col-md-3 {
    right: 10%;
  } */

@media only screen and (max-width: 425px) {
  footer .row .col-md-3 {
    margin-top: 8vmin;
  }
}

.col-md-3 {
  margin-left: auto;
  margin-right: auto;
}
